@import 'src/styles/_vars.scss';

.form {
  .form__input {
    font-size: 1.5em;
    padding: 1em;
    color: $secondary;
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05);
    border-radius: 8px;
    transition-property: opacity,transform,filter,-webkit-filter;
    transition-duration: 150ms;

    &:focus {
      transform: translateY(-10px);
      transition-timing-function: ease-out;
      box-shadow: 0 7px 13px rgba(0,0,0,.2);
    }
  }
}